/* .App{
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
} */

body{
  font-family: Courier, Helvetica, sans-serif;
}

.user-page{
  display: flex;
  width: 100%;
}

.newsurvey-page{
  display: flex;
}

.u-input{
  /* display: flex; */
  width: 7.6cm;
}

.survey-b{
  width: 100%;
  float: right;
  padding-left: 20px;
}

.q-body{
  /* border-spacing: 5px; */
  width: 100%;
  /* float: right; */
  margin-right: 30px;
  padding-left: 0px;
  
}

.survey-main{
  justify-content: space-between;
  border:  1px solid grey;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
}
.q-main{
  justify-content: space-between;
  border:  1px solid grey;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 10px;
  width: 100%;
}

.qmain-body{
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}



.q-type{
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
}

.q-heading{
  justify-content: space-between;
}

.q-sub{
  width: 100%;
  padding-left: 20px;
}

.u-submit{
  float: right;
}

.inventory{
  justify-content: space-between;
}

.inventory-opt{
  width: 75%;
  float: right;
}

.inventory-static{
  width: 75%;
  float: right;
  justify-content: space-between;
}

.L-survey{
  display: flex;
}

.v-button{
  float: right;
}
/* .survey-list{
  grid-auto-columns: max-content;
  grid-auto-rows: auto;
  text-align: center;
} */

/* .homepage{
  display: flex;
  justify-content: space-between;
} */

/* .newsurvey-h{
  justify-content: space-between;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
/* @import url("https://taniarascia.github.io/primitive/css/main.css");

.icon {
  margin-right: 0.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
